.gameListItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    .link {
        text-decoration: none;
        color: black;
    }
    .image {
        max-width: 20rem;
        border-radius: 10px;
    }
    .image:hover {
        max-width: 21rem;
    }
    .price {
        font-size: 1.25rem;
        margin: 0
    }
}