@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Kaushan+Script&family=Keania+One&family=Protest+Revolution&family=Uncial+Antiqua&display=swap');

.horrorIndex {
    height: 100%;
    width: 100%;
    background-image: url('https://i.imgur.com/FR20g2h.jpeg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .title {
        color: red;
        font-size: 10vmin;
        font-family: "Protest Revolution", sans-serif;
        text-shadow: 2px 2px 2px black;
    }
}