.OrderList {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(64, 64, 64);
    border: .1vmin solid var(--tan-3);
    border-radius: 2vmin;
    margin: 3vmin 0;
    padding: 3vmin;
    overflow-y: scroll;
    min-width: 8rem;
    height: 45rem;

    .noOrders {
        color: var(--text-light);
        font-size: 2rem;
        position: absolute;
        top: calc(50vh);
    }
}
