.gameList {
    display: flex;
    align-items: center;
    justify-content: center;
    .list {
        display: flex;
        justify-content: space-around;
        gap: 4vmin;
        margin: 10rem;
        padding: 0;
        list-style: none;
    }
}