.gameList {
    display: flex;
    align-items: center;
    justify-content: center;
    .list {
        display: flex;
        justify-content: space-between;
        margin-top: 10rem;
        list-style: none;
    }
}