@import url('https://fonts.googleapis.com/css2?family=Anta&family=Chelsea+Market&display=swap');

.OrderDetail {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3vmin;

    .sectionHeading {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-bottom: 3rem;
      font-family: "Chelsea Market", sans-serif;
      font-size: 1.5rem;
      color: yellow;
      text-shadow: 2px 2px 1px black;
      .orderDate {
        margin-left: 1rem;
      }
    }

    .lineGameContainer {
      margin-top: 3vmin;
      padding-top: 2rem;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;
      background-color: rgb(64, 64, 64);
      color: white;
      text-shadow: 2px 2px 1px black;
      font-size: 1.5rem;
      border-radius: 10px;
      gap: 3rem;
      justify-content: flex-start;
      height: calc(100vh - 18vmin);
      width: 75vw;
      max-width: 40rem;
      
      .total {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        
        padding: 1vmin 0;
        color: white;
        text-shadow: 2px 2px 1px black;
        border: .1vmin solid var(--tan-3);
     
        .button {
          background-color: red;
          text-shadow: 2px 2px 1px black;
          cursor: pointer;
          width: 15vw;
          height: 3rem;
          min-width: 5rem;
        }
        
        .totalQty {
          font-size: 1.25rem;
        }

        .totalPrice {
          font-size: 1.25rem;
        }

        .span {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.5vw;
          color: var(--text-dark);

          .right {
            display: flex;
            justify-content: flex-end;
          }
        }
      }

      .message {
        position: absolute;
        top: 50vh;
        font-family: "Chelsea Market", sans-serif;
        font-size: 4vmin;
        color: yellow;
        text-shadow: 2px 2px 1px black;
      }
    }
  }
