.LineGame {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: .5rem;
    gap: 1rem;
    border-bottom: 1px solid pink;

    .LineGame:last-child {
        border-bottom: .1vmin solid var(--tan-3);
    }

    .lineGameName {
        color: yellow;
        text-shadow: 2px 2px 2px black;
    }
    
    
    .lineGamePrice {
        margin-top: 1rem;
    }

    .qty {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.25rem;

        .currentQty {
            margin: auto 1rem;
        }
    }

    .extPrice {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.25rem;
    }

    .button {
        margin: 0;
        height: 2rem;
        width: 2rem;
        background-color: red;
    }
}
    

    

    

    
